<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test of Distributed WebWorkers</title>
</head>
<body>
  <a href="/">Home</a>

  <h1>Test of Distributed WebWorkers</h1>
  <p>
    Open a bunch of tabs using the same URL.
    Then check out the DevTools & Console.
    You can also check the browser task manager to confirm.
  </p>

  <!-- <h2>Results</h2>
  <div id="results"></div> -->

  <script>
    import { run } from "../scripts/main.ts";
    const worker = run("distributed");

    // const results = document.querySelector("#results");
  </script>
</body>
</html>